<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="./data.js"></script>
    <script defer src="./index.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/4debfe2c7e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../../dist/output.css" />
    <title>Análisis Salarial</title>
  </head>
  <body class="h-full w-full relative">
    <nav
      class="w-full h-10 bg-[#070A52] flex items-center text-white text-xl p-2"
    >
      <li class="list-none hover:text-[#F15A59]">
        <i class="fa-solid fa-house mr-4"></i
        ><a href="../../playground.html">Home</a>
      </li>
    </nav>
    <div class="m-5">
      <h1 class="text-3xl font-medium my-4">Análisis Salarial</h1>
      <p class="font-light">
        En esta aplicación se puede obtener la media de un monto proporcionado.
        Se pide que sea el salario para obtener resultados adecuados.
      </p>
    </div>
    <main class="absolute top-[230px]">
      <section class="w-auto h-auto mt-2 mx-2">
        <div
          id="median-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Personal Income Median</h2>
          <img src="../../img/statistics.svg" alt="" class="w-full h-64" />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Person</p>
                <p>Increment %</p>
                <p>Final salary</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="text"
                  placeholder="Enter the person's name"
                  id="median-first-parameter"
                />
                <p id="percentage-increment" class="text-gray-400">
                  Growth Increment
                </p>
                <p id="projected-salary" class="text-gray-400">
                  Projected Salary
                </p>
              </div>
            </div>
            <div class="mx-2 flex">
              <button id="median-result-button" class="w-full py-1">
                Calculate
              </button>
              <button id="median-erase-button" class="w-full py-1">
                Erase
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
