<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dist/output.css" />
    <script
      src="https://kit.fontawesome.com/4debfe2c7e.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="./index.js"></script>
    <title>Estadística Básica</title>
  </head>
  <body>
    <nav
      class="w-full h-10 bg-[#070A52] flex items-center text-white text-xl p-2"
    >
      <li class="list-none hover:text-[#F15A59]">
        <i class="fa-solid fa-house mr-4"></i
        ><a href="../../playground.html">Home</a>
      </li>
    </nav>

    <div class="m-5">
      <h1 class="text-3xl font-medium my-4">Estadística Básica</h1>
      <p class="font-light">
        En esta aplicación se podrá jugar añadir y jugar con los números dados
        para calcular las principales medidas de tendencia central, como la
        media aritmética, la mediana, la moda y la media geométrica
      </p>
    </div>
    <main>
      <section
        class="w-auto h-auto mt-2 mx-2 gap-10 flex flex-col justify-center items-center"
      >
        <div
          id="square-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Arithmetic Average</h2>
          <img
            src="../../assets/images/statistics.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>List of Numbers</p>
                <!-- <p>Second parameter</p>
                <p>Third parameter</p> -->
                <p>Result</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter all the numbers"
                  id="average-first-parameter"
                />
                <p id="average-response" class="text-gray-400">Average</p>
              </div>
            </div>
            <div class="mx-2">
              <button id="average-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
        <div
          id="median-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Median</h2>
          <img
            src="../../assets//images/estadistica-basica1.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>List of Numbers</p>
                <!-- <p>Second parameter</p>
              <p>Third parameter</p> -->
                <p>Result</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter all the numbers"
                  id="median-first-parameter"
                />
                <p id="median-response" class="text-gray-400">Median</p>
              </div>
            </div>
            <div class="mx-2 flex">
              <button id="median-result-button" class="w-full py-1">
                Calculate
              </button>
              <button id="median-erase-button" class="w-full py-1">
                Erase
              </button>
            </div>
          </div>
        </div>
        <div
          id="mode-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Mode</h2>
          <img
            src="../../assets//images/estadistica-basica2.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>List of Numbers</p>
                <!-- <p>Second parameter</p>
            <p>Third parameter</p> -->
                <p>Result</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter all the numbers"
                  id="mode-first-parameter"
                />
                <p id="mode-response" class="text-gray-400">Mode</p>
              </div>
            </div>
            <div class="mx-2 flex">
              <button id="mode-result-button" class="w-full py-1">
                Calculate
              </button>
              <button id="mode-erase-button" class="w-full py-1">Erase</button>
            </div>
          </div>
        </div>
        <div
          id="geometric-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Geometric Average</h2>
          <img
            src="../../assets//images/estadistica-basica3.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>List of Numbers</p>
                <!-- <p>Second parameter</p>
          <p>Third parameter</p> -->
                <p>Result</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter all the numbers"
                  id="geometric-first-parameter"
                />
                <p id="geometric-response" class="text-gray-400">Mode</p>
              </div>
            </div>
            <div class="mx-2 flex">
              <button id="geometric-result-button" class="w-full py-1">
                Calculate
              </button>
              <button id="geometric-erase-button" class="w-full py-1">
                Erase
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
