<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="./index.js"></script>
    <link rel="stylesheet" href="../../../dist/output.css" />
    <title>Basic Geometric Formulas</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1 class="bg-red-500">
        Here you can play with a simple calculator to find some geometric
        dimensions
      </h1>
      <p>The following are the geometric shapes available</p>

      <section class="w-auto h-auto mt-2 mx-2">
        <div
          id="square-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Square</h2>
          <img
            src="../../img/undraw_processing_re_tbdu.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Side</p>
                <p>Perimeter</p>
                <p>Area</p>
              </div>
              <div id="responses" class="">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="square-input"
                />
                <p id="square-perimeter-response" class="text-gray-400">
                  Perimeter Response
                </p>
                <p id="square-area-response" class="text-gray-400">
                  Area Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="square-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
        <div
          id="triangle-container"
          class="w-full flex flex-col justify-center rounded-lg shadow-lg mt-4"
        >
          <h2 class="text-2xl text-center m-2">Triangle</h2>
          <img
            src="../../img/undraw_processing_re_tbdu.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex flex-row justify-between mx-2">
              <div id="demands">
                <p>Side 1</p>
                <p>Side 2</p>
                <p>Base</p>
                <p>Height</p>
                <p>Perimeter</p>
                <p>Area</p>
              </div>

              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-side1"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-side2"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-base"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-height"
                  class="block"
                />

                <p id="triangle-perimeter-response" class="text-gray-400">
                  Perimeter Response
                </p>
                <p id="triangle-area-response" class="text-gray-400">
                  Area Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="triangle-button" class="w-full py-1">
                Calculate
              </button>
            </div>
          </div>
        </div>
        <div
          id="circle-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Circle</h2>
          <img
            src="../../img/undraw_processing_re_tbdu.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Diameter</p>
                <p>Perimeter</p>
                <p>Area</p>
              </div>
              <div id="responses" class="">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="circle-diameter"
                />
                <p id="circle-perimeter-response" class="text-gray-400">
                  Perimeter Response
                </p>
                <p id="circle-area-response" class="text-gray-400">
                  Area Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="circle-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
        <div
          id="triangle-i-container"
          class="w-full flex flex-col justify-center rounded-lg shadow-lg mt-4"
        >
          <h2 class="text-2xl text-center m-2">Triangle Height</h2>
          <img
            src="../../img/undraw_processing_re_tbdu.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex flex-row justify-between mx-2">
              <div id="demands">
                <p>Side</p>
                <p>Base</p>
                <p>Height</p>
              </div>

              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-i-side"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-i-base"
                  class="block"
                />

                <p id="height-response" class="text-gray-400">
                  Height Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="triangle-i-button" class="w-full py-1">
                Calculate
              </button>
            </div>
          </div>
        </div>
        <div
          id="triangle-scalene-container"
          class="w-full flex flex-col justify-center rounded-lg shadow-lg mt-4"
        >
          <h2 class="text-2xl text-center m-2">Triangle Scalene Height</h2>
          <img
            src="../../img/undraw_processing_re_tbdu.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex flex-row justify-between mx-2">
              <div id="demands">
                <p>Side 1</p>
                <p>Side 2</p>
                <p>Base</p>
                <p>Height</p>
              </div>

              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-scalene-side1"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-scalene-side2"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-scalene-base"
                  class="block"
                />
                <p id="triangle-scalene-height" class="text-gray-400">
                  Height Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="triangle-scalene-button" class="w-full py-1">
                Calculate
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
