<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4debfe2c7e.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="./index.js"></script>
    <link rel="stylesheet" href="../../../dist/output.css" />
    <title>Basic Geometric Formulas</title>
  </head>
  <body>
    <nav
      class="w-full h-10 bg-[#070A52] flex items-center text-white text-xl p-2"
    >
      <li class="list-none hover:text-[#F15A59]">
        <i class="fa-solid fa-house mr-4"></i
        ><a href="../../playground.html">Home</a>
      </li>
    </nav>
    <main>
      <div
        class="w-auto h-auto mt-2 mx-2 gap-10 flex flex-col justify-center items-center"
      >
        <h1 class="text-3xl font-medium my-4">
          Fórmulas Básicas para figuras geométricas
        </h1>
        <p class="font-light">
          En esta página podrá encontrar diferentes figuras geométricas con sus
          respectivas variables para calcular determinados valores como la
          circunferencia, el alto de un triángulo, el área de un cuadrado, etc
        </p>
      </div>

      <section
        class="w-auto h-auto mt-2 mx-2 gap-10 flex flex-col justify-center items-center"
      >
        <div
          id="square-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Square</h2>
          <img
            src="../../assets/images/formulas-basicas1.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Side</p>
                <p>Perimeter</p>
                <p>Area</p>
              </div>
              <div id="responses" class="">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="square-input"
                />
                <p id="square-perimeter-response" class="text-gray-400">
                  Perimeter Response
                </p>
                <p id="square-area-response" class="text-gray-400">
                  Area Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="square-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
        <div
          id="triangle-container"
          class="w-full flex flex-col justify-center rounded-lg shadow-lg mt-4"
        >
          <h2 class="text-2xl text-center m-2">Triangle</h2>
          <img
            src="../../assets/images/formulas-basicas2.png"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex flex-row justify-between mx-2">
              <div id="demands">
                <p>Side 1</p>
                <p>Side 2</p>
                <p>Base</p>
                <p>Height</p>
                <p>Perimeter</p>
                <p>Area</p>
              </div>

              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-side1"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-side2"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-base"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-height"
                  class="block"
                />

                <p id="triangle-perimeter-response" class="text-gray-400">
                  Perimeter Response
                </p>
                <p id="triangle-area-response" class="text-gray-400">
                  Area Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="triangle-button" class="w-full py-1">
                Calculate
              </button>
            </div>
          </div>
        </div>
        <div
          id="circle-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Circle</h2>
          <img
            src="../../assets/images/formulas-basicas3.png"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Diameter</p>
                <p>Perimeter</p>
                <p>Area</p>
              </div>
              <div id="responses" class="">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="circle-diameter"
                />
                <p id="circle-perimeter-response" class="text-gray-400">
                  Perimeter Response
                </p>
                <p id="circle-area-response" class="text-gray-400">
                  Area Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="circle-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
        <div
          id="triangle-i-container"
          class="w-full flex flex-col justify-center rounded-lg shadow-lg mt-4"
        >
          <h2 class="text-2xl text-center m-2">Triangle Height</h2>
          <img
            src="../../assets/images/formulas-basicas4.png"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex flex-row justify-between mx-2">
              <div id="demands">
                <p>Side</p>
                <p>Base</p>
                <p>Height</p>
              </div>

              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-i-side"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-i-base"
                  class="block"
                />

                <p id="height-response" class="text-gray-400">
                  Height Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="triangle-i-button" class="w-full py-1">
                Calculate
              </button>
            </div>
          </div>
        </div>
        <div
          id="triangle-scalene-container"
          class="w-full flex flex-col justify-center rounded-lg shadow-lg mt-4"
        >
          <h2 class="text-2xl text-center m-2">Triangle Scalene Height</h2>
          <img
            src="../../assets/images/formulas-basicas4.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex flex-row justify-between mx-2">
              <div id="demands">
                <p>Side 1</p>
                <p>Side 2</p>
                <p>Base</p>
                <p>Height</p>
              </div>

              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-scalene-side1"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-scalene-side2"
                  class="block"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="triangle-scalene-base"
                  class="block"
                />
                <p id="triangle-scalene-height" class="text-gray-400">
                  Height Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="triangle-scalene-button" class="w-full py-1">
                Calculate
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
