<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="./index.js"></script>
    <link rel="stylesheet" href="../../../dist/output.css" />
    <title>Basic Geometric Formulas</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1 class="bg-red-500">
        Here you can play with a simple calculator to find some geometric
        dimensions
      </h1>
      <p>The following are the geometric shapes available</p>

      <section class="w-auto h-auto rounded-lg shadow-lg mt-2 mx-2">
        <div class="w-full flex flex-col justify-center">
          <h2 class="text-2xl text-center m-2">Square</h2>
          <img
            src="../../img/undraw_processing_re_tbdu.svg"
            alt=""
            class="w-full h-64"
          />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Please, enter a side</p>
                <p>Perimeter</p>
                <p>Area</p>
              </div>
              <div id="responses" class="">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="square-input"
                />
                <p id="square-perimeter-response" class="text-gray-400">
                  Perimeter Response
                </p>
                <p id="square-area-response" class="text-gray-400">
                  Area Response
                </p>
              </div>
            </div>
            <div class="mx-2">
              <button id="square-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
