<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dist/output.css" />
    <script defer src="./index.js"></script>
    <title>Discount Percentage</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Discount Percentages Calculator</h1>
      <p>
        The following is a simple calculator to know how much is the price of
        the product at the end
      </p>
      <section class="w-auto h-auto mt-2 mx-2">
        <div
          id="square-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Simple Discount Calculator</h2>
          <img src="../../img/discount.svg" alt="" class="w-full h-64" />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Price</p>
                <p>Discount</p>
                <p>Result</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="price-input"
                />
                <input
                  type="number"
                  placeholder="Enter a dimension"
                  id="discount-input"
                />
                <p id="result" class="text-gray-400">Area Response</p>
              </div>
            </div>
            <div class="mx-2">
              <button id="result-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
