<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dist/output.css" />
    <script defer type="module" src="./index.js"></script>
    <title>Discount Percentage</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Discount Percentages Calculator</h1>
      <p>
        The following is a simple calculator to know how much is the price of
        the product at the end
      </p>
      <section class="w-auto h-auto mt-2 mx-2">
        <div
          id="discount-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Simple Discount Calculator</h2>
          <img src="../../img/discount.svg" alt="" class="w-full h-64" />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Price</p>
                <p>Discount</p>
                <p>Result</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="number"
                  placeholder="Enter a price"
                  id="price-input"
                />
                <input
                  type="number"
                  placeholder="Enter a discount"
                  id="discount-input"
                />
                <p id="discount-result" class="text-gray-400">Result</p>
              </div>
            </div>
            <div class="mx-2">
              <button id="discount-button" class="w-full py-1">
                Calculate
              </button>
            </div>
          </div>
        </div>
        <div
          id="coupon-container "
          class="w-full flex flex-col justify-center rounded-lg shadow-lg"
        >
          <h2 class="text-2xl text-center m-2">Simple Coupon Calculator</h2>
          <img src="../../img/coupon.svg" alt="" class="w-full h-64" />
          <div>
            <div class="flex justify-between mx-2">
              <div id="demands">
                <p>Price</p>
                <p>Coupon</p>
                <p>Discount</p>
                <p>Result</p>
              </div>
              <div id="responses" class="flex flex-col">
                <input
                  type="text"
                  placeholder="Enter a price"
                  id="coupon-price-input"
                />
                <input
                  type="text"
                  placeholder="Enter a coupon"
                  id="coupon-input"
                />
                <p id="show-discount" class="text-gray-400">Discount applied</p>
                <p id="coupon-result" class="text-gray-400">Final price</p>
              </div>
            </div>
            <div class="mx-2">
              <button id="coupon-button" class="w-full py-1">Calculate</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
